.input-control{
	height:100%;
    width:13%;
    margin-top: 74px;
}
.remiseInfo{
    height:100%;
    width:100%;
    border:2px solid #d68717;
    margin-top: 25px;
    border-radius: 10px;
}
.listRemiseTitle{
    width: 152px;
}
 .title
 {
 	margin-top: -20px;
    margin-left: 5px;
    background: white;
    margin-left: 15px;
    color: #d68717;
    font-size: 23px;
 }
 .row {

    margin-right: -100px!important;
    margin-left: 0px!important;
    margin-bottom: 15px!important;
}
.table-sm td, .table-sm th {
    padding: .0rem!important;
}
.custA{
	 padding: 0px!important;
}
.scanBtn
{

    color: #fff!important;
    background-color: #FBB03B!important;
    font-weight: bolder!important;
    padding: 0.275rem .65rem!important;
    margin-top: 10px!important;
        border-color: transparent!important;

}
#parametrageHeader
{
    background-color:#d78817;
}
.border
{
	border-style: none !important;
}



#checkboxCheque + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

#checkboxCheque {
  display: none;
}

#checkboxCheque + label:before {
  content: "\2713";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: -0.8em;
  padding-bottom: 1.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}



#checkboxCheque:checked + label:before {
  background-color: #FBB03B!important;
  border-color: #FBB03B!important;
  color: #fff;
}

/* .form-check-input + label{
  display: block;
  margin: 1.2em;
  cursor: pointer;
  padding: 0.2em;
  position: initial;
  margin-top: 0.3rem;
  margin-left: 1.75rem;
}

.form-check-input{
	display: none;
} 

.form-check-input+ label:before {
  content: "\2713";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: -0.8em;
  padding-bottom: 1.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}


.form-check-input+ label :checked:before{
	background-color: #FBB03B!important;
    border-color: #FBB03B!important;
    color: #fff;
}

 */

