<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorator="layout">

	<div th:fragment="content-general-settings">
	
		 <h1>Parametre generall</h1>
	
		 <input id="userIDParametreGenerall"  name="userIDParametreGenerall" class="userID" />
	      
	     <table id="paramsGeneralTable"  class="table table-bordered table-sm">
				<tr>
					<th>reference remise</th>
					<th>case à cocher</th>
				</tr>
				<tr th:each="idParamRefRemise : ${idParamRefRemise}">
					<td>
						<span th:text="${idParamRefRemise}"></span>
					</td>
					<td>
						<div class="form-check">
						    <input class="form-check-input" type="checkbox"  th:name="${idParamRefRemise}" th:id="${idParamRefRemise}">
						</div>
					</td>
				</tr>
		</table>
		
		<button type="submit" class="btn btn-secondary scanBtn">update</button>
					
		
	</div>

</html>
